:root {
  --background-color: rgb(25, 135, 84);
  --heading-font-family: "Sevillana", cursive;
  --body--font-family: "Comfortaa", sans-serif;
}
body {
  background-color: var(--background-color);
  background-image: url(/images/flowers.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 72px;
}
h3 {
  font-size: 18px;
  font-family: var(--body--font-family);
  color: rgb(136, 41, 22);
  font-weight: 700;
}
p {
  font-family: var(--body--font-family);
  font-size: 18px;
}
button {
  font-family: var(--body--font-family);
  font-size: 14px;
  font-weight: bold;
  padding: 18px 30px;
  border-radius: 50px;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(136, 41, 22);
}
.project-img {
  transition: transform 0.3s;
}

.project-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.about-h1 {
  font-size: 64px !important;
  line-height: 100px;
}

.about-me-container {
  max-width: 1000px !important;
}
.container {
  max-width: 600px;
  margin-top: 200px;
  background-color: rgb(25, 135, 84);
  color: white;
  border-radius: 50px;
  padding: 60px;
}
.projects {
  max-width: fit-content;
  border-radius: 0%;
  padding: 60px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 14px;
  }
  button {
    font-size: 12px;
    padding: 12px 24px;
  }

  .about-h1 {
    font-size: 36px !important ;
    line-height: 60px;
  }
  .container {
    max-width: 300px;
    margin-top: 150px;
    padding: 30px;
  }
  .project-img {
    margin-bottom: 48px;
  }
  .projects {
    max-width: fit-content;
    padding: 40px;
  }
  .about-info {
    margin-top: 30px;
  }
}
